In [1]:
# import all libs for web scraping
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
# get page html content
URL = "https://www.bayt.com/en/egypt/jobs/sales-jobs/"

# Send a GET request to the URL
page = requests.get(URL, headers={'User-Agent': 'Mozilla/5.0'})

In [3]:
# parser page content 
soup = BeautifulSoup(page.content, 'html.parser')

In [4]:
# funtion to get data of spacific tag in html page. 
def getData(name):

    data =  soup.find_all(name[0], class_=name[1])
    data_list =[item.text.strip() for item in data]
    
    return data_list

In [5]:
# define all tags based on its html page.
name_data = {'Jop Titles':      ['h2','jb-title' ],
             'Jop Locations':   ['span','jb-loc'],
             'Company Name':    ['b', 'jb-company'],
             'Date':            ['div','jb-date']
             }

In [6]:
# get all tags's data in one step in python dict.
data = {name:getData(name_data[name]) for name in name_data}

In [7]:
# convert dict into dataframe to save it in CSV file.
df = pd.DataFrame(data)
df.head()

,Jop Titles,Jop Locations,Company Name,Date
0,Business Development Sales,"Cairo, Egypt",MobiWeb,30+ days ago
1,Sales Executive,"Al Hadabah al Wusta, Cairo",bis real estate,2 days ago
2,HORECA & Catering Sales Executive (Cairo - Alex),"Cairo, Egypt",Metro Markets for Trading & Distribution,11 hours ago
3,Sales Executive,"Abbassia, Cairo",Teeba Saleh,7 days ago
4,Sales Representative Outdoor,"Cairo, Egypt",Innovation Stratiges,7 days ago

In [8]:
df.to_csv('reults.csv')